.item-1{
    display: flex;
    flex-direction: column;
    background-color: var(--priColor);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    .num{
        font-size: 2.5rem;
    }
    .stext{
        color: var(--textCol3);
        font-size: 0.75rem;

    }
}