.item-1in {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.item-1in .num {
    font-size: 2.5rem;
}

.item-1in .stext {
    color: var(--textCol3);
    font-size: 0.75rem;
}
