.item-3in{
    display: flex;
    flex-direction: column;
    /* background-color: var(--priColor); */
    border-radius: 25px;
    justify-content: center;
    padding: 100px;
    align-items: start;
    overflow: hidden;
    width: auto;
    
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.item-3in>.txt2{
    line-height: 1.3rem;

}