.document{
    display: flex;
    /* overflow: hidden; */
    height: 100vh;
}

.sideNav{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: var(--priColor);
    height: 100vh;
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px 30px 0px;
        .profile-image{
            img{
                width: 100px;
                height: 100px;;
                border-radius: 50%
            }
        }
        .profile-name{
            p{
                color: var(--textCol1);
                font-size: 1.5rem;
                font-weight:700;
            }
        }
    }
    .sideMenu-Items{
        ul{
            list-style: none;
            align-items: center;
        }
        li{
            color: var(--textCol2);
            display: flex;
            align-items: center;
            margin: 15px;
            padding: 8px;
            cursor: pointer;
            width: 150px;
            border-radius: 15px;
            &:hover{
                background-color: #a7abfb6f;
            }
            span{
                padding-left: 8px;
            }
            .sideMenu-Items{
                
            }
        }
    }
    
}
.list-text{
         font-size: 0.75rem;
}
.rightArea{
    background: #1C1F21;
    background: radial-gradient(circle, rgba(25,85,157,1) 0%, rgba(28,31,33,1) 49%);
    flex:4;
    color:var(--textCol1);
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:20px;
    .right-heading{
        margin-bottom: 10px;
    }
    .grid-container{
        /* background-color: var(--priColor); */
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 200px 200px 350px 600px;
        grid-gap: 20px;
    }


    .item-1{
        display: flex;
        flex-direction: column;
        background-color: var(--priColor);
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
        .num{
            font-size: 2.5rem;
        }
        .stext{
            color: var(--textCol3);
            font-size: 0.75rem;
    
        }
    }
    .item-2{
        display: flex;
        flex-direction: column;
        background-color: var(--priColor);
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
    }
    .item-3{
        display: flex;
        flex-direction: column;
        background-color: var(--priColor);
        border-radius: 25px;
        justify-content: center;
        padding: 40px;
        align-items: start;
        grid-column: 3/5;
        grid-row: 1/3;
        overflow: hidden;
    }
    .item-4{
        display: flex;
        flex-direction: column;
        background-color: var(--priColor);
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
    }
    .item-5{
        display: flex;
        flex-direction: column;
        background-color: var(--priColor);
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
    }
    .item-6{
        background-color: var(--priColor);
        border-radius: 25px;
        grid-column: 1/5;
        .expertise-container{
            display: flex;
            width: 100%;
            height: 100%;
            .exp-left{
                flex:1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .exp-right{
                flex: 3;
                height: 100%;
                display: flex;
                flex-direction: column;

                .exp-right-flex1{
                    flex:1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap:60px;
                }

                .exp-right-flex2{
                    flex:1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap:60px;
                }
                .exp-right-flex3{
                    flex:1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap:60px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .item-7{
        display: flex;
        background-color: var(--priColor);
        border-radius: 25px;
        grid-column: 1/5;
        width: 4fr;
        max-width: 4fr;
    }
}



.icons{
    color: var(--textCol1);
    font-size: 2rem;
    
}
.txt1{
    color: var(--textCol1);
    font-size: 1.5rem;
    line-height: 2rem;
}
.txt2{
    color: var(--textCol3);
    font-size: 0.8rem;
    line-height: 1rem;
}

.status{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    .sts_circle{
        width:0.7rem ;
        height: 0.7rem;
        border-radius: 50%;
        background-color: greenyellow;
    }
}

