.item-4{
    display: flex;
    flex-direction: column;
    background-color: var(--priColor);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.status{
    display: flex;
    gap: 0.1rem;
    align-items: center;
}

iframe{
    border: 0px;
    width: 30px;
    height: 30px;
}