.item-4in{
    display: flex;
    flex-direction: column;
    /* background-color: var(--priColor); */
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.status{
    display: flex;
    gap: 0.1rem;
    align-items: center;
}

iframe{
    border: 0px;
    width: 30px;
    height: 30px;
}