.item-6{
    background-color: var(--priColor);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .expertise-container{
        display: flex;
        width: 100%;
        height: 100%;
        gap: 30px;
        .exp-left{
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .exp-right{
            flex: 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap:20px;

            .exp-right-flex1{
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:60px;
            }

            .exp-right-flex2{
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:60px;
            }
            .exp-right-flex3{
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:60px;
                padding-bottom: 10px;
            }
        }
    }
}


