.item-9in{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    .imgSlider{
        width: 80%;
        margin: 30px 0px;
    }
    .winnings-header{
        text-align: center;
    }
    
}

@media (max-width:900px) {
    .imgSlider{
        width:20%;
    }
}