.item-9in {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.item-9in > .imgSlider {
    width: 80%;
    margin: 30px 0px;
}

.item-9in > .winnings-header {
    text-align: center;
}

@media (max-width:900px) {
    .item-9in > .imgSlider {
        width: 20%;
    }
}
