:root{
    --bgColor:#202733;
    --priColor:#090101; 
    --secColor:#2A2A2A;
    --appBlue:#00adf2;
    --textCol1:#ffffff;
    --textCol2: #c9cbce;
    --textCol3: #949699;
   
    

}

*{
    margin: 0;
    padding: 0;
    line-height: 1em;
}
.App{
    font-family: "Poppins", sans-serif;
    
}

body{
    background-color: var(--bgColor);
}

.App{
    width: 100vw;
}