.cer-container{
    text-align: center;
    background-color: var(--secColor);
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 30px;
    display: flex!important;
    flex-direction: column;
    .cer-img{
        background-color:  var(--secColor);
        width: 100%;
        padding: 10px;
        flex: 10;
        img{
            width: calc(100% - 20px);
            height: 100%;
            border-radius: 15px;
        }
    }
    .cer-title{
        flex:1;
    }
    
}
.slick-slide > div {
    margin:0px 20px;
}
.slick-dots li button:before {
    color: white;
    margin-top: 20px;
    font-size: 0.5rem;
  }
  .slick-dots li.slick-active button:before {
    color:var(--appBlue) !important;
}


@media (min-width:900px) {
    .cer-container{
        min-width: 100px;
    }
}