.cer-container{
    text-align: center;
    background-color: var(--secColor);
    height: 250px;
    overflow: hidden;
    border-radius: 30px;
    .cer-img{
        background-color:  var(--secColor);
        width: 100%;
        padding: 10px;
        img{
            width: calc(100% - 20px);
            height: 200px;
            border-radius: 15px;
        }
    }
}
.slick-slide > div {
    margin:0px 20px;
}
.slick-dots li button:before {
    color: white;
    margin-top: 20px;
    font-size: 0.5rem;
  }
  .slick-dots li.slick-active button:before {
    color:var(--appBlue) !important;
}